*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #f5f2f0;
}

.pic1 img{
    width: 450px;
}

.navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;

}

.navbar nav{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar nav li{
    margin-right: 50px;
    color: #333333;
}

.line{
    border-top: 2px solid #333333;
    width: 350px;
    margin-left: 320px;
    margin-right: 80px;
}

.navbar img{
    width: 100px;
    margin-left: 50px;
}


.heading h1{
    font-size: 110px;
    margin-left: 530px;
    -webkit-text-stroke-color: #333333;
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: #f5f2f0;
    position: absolute;
    top: 70px;
}

.heading h2{
    font-size: 110px;
    color: #333333;
    margin-left: 620px;
    position: absolute;
    top: 150px;
}

.sub-title{
    position: absolute;
    top: 190px;
    margin-left: 900px;
    color: #828282;
    font-size: 20px;
}

.icons{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    margin-left: 1250px;
}

.icons img{
    margin-bottom: 30px;
    width: 20px;
}

.button button{
    background-color: #333333;
    color: #f5f2f0;
    padding: 15px 70px;
    border: none;
    font-size: 15px;
    position: absolute;
    top: 280px;
    margin-left: 1000px;
}

.bottom{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 300px;
    margin-left: 780px;
}

.bottom img{
    width: 350px;
}

.bottom h1{
    font-size: 80px;
}

.bottom p{
    font-family: 'Poppins',serif;
}

.style{
    margin-left: 50px;
    list-style-type: none;
    border-left: 3px solid #333333;
    padding-left: 11px;
    font-size: 20px;
    font-family: 'Poppins';

}


.item{
    position: relative;
    margin-bottom: 20px;
    color: #828282;
    
}

.item::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #828282;
    position: absolute;
    left: -19px;
    top: 9px;
}

.item-active{
    position: relative;
    margin-bottom: 20px;
    color: #333333;
}

.item-active::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #333333;
    position: absolute;
    left: -20px;
    top: 9px;
}

.list{
    position: absolute;
    top: 350px;
    margin-left: 420px;
}

@media screen and (max-width:950px){
    .pic1 img{
        width: 350px;
    }
    
    .navbar nav{
        display: none;
    }

    .line{
        display: none;
    }

    .navbar img{
        width: 80px;
        margin-left: 30px;
    }

    .heading h1{
        font-size: 80px;
        margin-left: 30px;
        top: 400px;
    }

    .heading h2{
        font-size: 80px;
        margin-left: 30px;
        top: 480px;
    }

    .sub-title{
        top: 510px;
        margin-left: 265px;
        font-size: 13px;
    }

    .icons{
        top: 120px;
        margin-left: 357px;
    }

    .button button{
        top: 600px;
        margin-left: 60px;
    }

    .bottom{
        margin-top: 20px;
        top: 830px;
        margin-left: 20px;
    }

    .bottom p{
       margin-bottom: 10px;
    }

    .list{
        position: absolute;
        top: 680px;
        margin-left: 30px;
    }


}